/* cores */
:root {
    --teste: #fff;
    --slate: #0d0e1f;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* melhor deixar pra lá k
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    */
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: black;
    width: 100%;
}

header h1 {
    color: white;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

/* MAIN */
main {
    background-color: var(--teste);
    display: flex;
    flex-direction: column;
}

/* FOOTER */
footer {
    left: 0;
    bottom: 0;
    color: white;
    background-color: black;
    width: 100%;
    margin-top: auto;
}

footer p {
    padding-left: 1rem;
}

footer p a {
    color: white;
}

/* CARDS */
/* cards de inspiração:
    https://codepen.io/nailaahmad/pen/LGRxWJ
    https://codepen.io/mikemang/pen/GRrBRZM
*/
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin: 1rem;
    background-color: lightblue;
    width: 80vw;

    @media only screen and (min-width: 30rem) {
        width: 15rem;
    }

    &:hover {
        background-color: turquoise;
        transform: scale(1.05);

        h1 {
            color: white;
        }
    }

    h1 {
        color: lightslategray;
        margin: 0;
        padding-top: .5rem;
        padding-bottom: .5rem;
        text-align: center;
    }

    .card-inner {
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
    }

    .card-expander {
        background-color: var(--slate);
        display: flex;
        flex-direction: column;
        
        .collapser-btn {
            max-width: 2rem;
            max-height: 2rem;
            border: none;
            color: darkgray;

            &:hover {
                color: white;
                background-color: red;
            }
        }
    }

    &.is-collapsed {
        .card-expander {
            display: none;
        }
    }

    &.is-expanded {

    }

}

/* MOBILE SMALL 320p*/
@media only screen and (min-width: 20rem) {
}
/* MOBILE MED 480p*/
@media only screen and (min-width: 30rem) {
}
/* 1024p + */
@media only screen and (min-width: 64rem) {
}