/* cores */
:root {
    --teste: #fff;
}

body {
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: black;
    width: 100%;
}

header h1 {
    color: white;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

/* FOOTER */
footer {
    left: 0;
    bottom: 0;
    color: white;
    background-color: black;
    width: 100%;
}

footer p {
    padding-left: 1rem;
}

footer p a {
    color: white;
}

/* CARDS */
.content-card {
    margin: 1rem;
    border-color: black;
    border-style: solid;
    border-width: thin;
}

.content-card h1 {
    margin: 0;
    padding-top: .5rem;
    padding-bottom: 1rem;
    text-align: center;
    border-bottom: thin solid black;
}

/* MOBILE SMALL 320p*/
@media only screen and (min-width: 20rem) {
    
}

/* MOBILE MED 480p*/
@media only screen and (min-width: 30rem) {

}

/* 1024p + */
@media only screen and (min-width: 64rem) {

}